# Results Data Cleaning

In [65]:
import pandas as pd
results = pd.read_csv('./assets/results.csv')

C:\Users\User\AppData\Local\Temp\ipykernel_19108\1630610256.py:2: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  results = pd.read_csv('./assets/results.csv')

In [66]:
df = results.copy()
df.head()

,Games,Event,Team,Pos,Medal,As,athlete_id,NOC,Discipline,Nationality,Unnamed: 7
0,1912 Summer Olympics,"Singles, Men (Olympic)",NaN,=17,NaN,Jean-François Blanchy,1,FRA,Tennis,NaN,NaN
1,1912 Summer Olympics,"Doubles, Men (Olympic)",Jean Montariol,DNS,NaN,Jean-François Blanchy,1,FRA,Tennis,NaN,NaN
2,1920 Summer Olympics,"Singles, Men (Olympic)",NaN,=32,NaN,Jean-François Blanchy,1,FRA,Tennis,NaN,NaN
3,1920 Summer Olympics,"Doubles, Mixed (Olympic)",Jeanne Vaussard,=8,NaN,Jean-François Blanchy,1,FRA,Tennis,NaN,NaN
4,1920 Summer Olympics,"Doubles, Men (Olympic)",Jacques Brugnon,4,NaN,Jean-François Blanchy,1,FRA,Tennis,NaN,NaN

In [67]:
df[['Year', 'Season']] = df['Games'].str.extract(r'(\d{4}) (Summer|Winter)', expand=True)
df.head()

,Games,Event,Team,Pos,Medal,As,athlete_id,NOC,Discipline,Nationality,Unnamed: 7,Year,Season
0,1912 Summer Olympics,"Singles, Men (Olympic)",NaN,=17,NaN,Jean-François Blanchy,1,FRA,Tennis,NaN,NaN,1912,Summer
1,1912 Summer Olympics,"Doubles, Men (Olympic)",Jean Montariol,DNS,NaN,Jean-François Blanchy,1,FRA,Tennis,NaN,NaN,1912,Summer
2,1920 Summer Olympics,"Singles, Men (Olympic)",NaN,=32,NaN,Jean-François Blanchy,1,FRA,Tennis,NaN,NaN,1920,Summer
3,1920 Summer Olympics,"Doubles, Mixed (Olympic)",Jeanne Vaussard,=8,NaN,Jean-François Blanchy,1,FRA,Tennis,NaN,NaN,1920,Summer
4,1920 Summer Olympics,"Doubles, Men (Olympic)",Jacques Brugnon,4,NaN,Jean-François Blanchy,1,FRA,Tennis,NaN,NaN,1920,Summer

In [68]:
df['new_medal'] = df["Medal"].map({"Bronze": 3, "Silver": 2, "Gold": 1})
df.head()

,Games,Event,Team,Pos,Medal,As,athlete_id,NOC,Discipline,Nationality,Unnamed: 7,Year,Season,new_medal
0,1912 Summer Olympics,"Singles, Men (Olympic)",NaN,=17,NaN,Jean-François Blanchy,1,FRA,Tennis,NaN,NaN,1912,Summer,NaN
1,1912 Summer Olympics,"Doubles, Men (Olympic)",Jean Montariol,DNS,NaN,Jean-François Blanchy,1,FRA,Tennis,NaN,NaN,1912,Summer,NaN
2,1920 Summer Olympics,"Singles, Men (Olympic)",NaN,=32,NaN,Jean-François Blanchy,1,FRA,Tennis,NaN,NaN,1920,Summer,NaN
3,1920 Summer Olympics,"Doubles, Mixed (Olympic)",Jeanne Vaussard,=8,NaN,Jean-François Blanchy,1,FRA,Tennis,NaN,NaN,1920,Summer,NaN
4,1920 Summer Olympics,"Doubles, Men (Olympic)",Jacques Brugnon,4,NaN,Jean-François Blanchy,1,FRA,Tennis,NaN,NaN,1920,Summer,NaN

In [69]:
df['position'] = df['Pos'].str.extract(r'(\d+)')
df['tied'] = df['Pos'].str.contains("=")
df['Event'] = df['Event'].str.slice(0, -9)
df.head()

,Games,Event,Team,Pos,Medal,As,athlete_id,NOC,Discipline,Nationality,Unnamed: 7,Year,Season,new_medal,position,tied
0,1912 Summer Olympics,"Singles, Men",NaN,=17,NaN,Jean-François Blanchy,1,FRA,Tennis,NaN,NaN,1912,Summer,NaN,17,True
1,1912 Summer Olympics,"Doubles, Men",Jean Montariol,DNS,NaN,Jean-François Blanchy,1,FRA,Tennis,NaN,NaN,1912,Summer,NaN,NaN,False
2,1920 Summer Olympics,"Singles, Men",NaN,=32,NaN,Jean-François Blanchy,1,FRA,Tennis,NaN,NaN,1920,Summer,NaN,32,True
3,1920 Summer Olympics,"Doubles, Mixed",Jeanne Vaussard,=8,NaN,Jean-François Blanchy,1,FRA,Tennis,NaN,NaN,1920,Summer,NaN,8,True
4,1920 Summer Olympics,"Doubles, Men",Jacques Brugnon,4,NaN,Jean-François Blanchy,1,FRA,Tennis,NaN,NaN,1920,Summer,NaN,4,False

In [70]:
df.columns

Index(['Games', 'Event', 'Team', 'Pos', 'Medal', 'As', 'athlete_id', 'NOC',
       'Discipline', 'Nationality', 'Unnamed: 7', 'Year', 'Season',
       'new_medal', 'position', 'tied'],
      dtype='object')

In [71]:
c_k = ['athlete_id', 'NOC','Event' ,'Discipline', 'Nationality', 'Year', 'Season', 'As', 'Team', 'Medal', 'position', 'tied']
df = df[c_k]
df.head()

,athlete_id,NOC,Event,Discipline,Nationality,Year,Season,As,Team,Medal,position,tied
0,1,FRA,"Singles, Men",Tennis,NaN,1912,Summer,Jean-François Blanchy,NaN,NaN,17,True
1,1,FRA,"Doubles, Men",Tennis,NaN,1912,Summer,Jean-François Blanchy,Jean Montariol,NaN,NaN,False
2,1,FRA,"Singles, Men",Tennis,NaN,1920,Summer,Jean-François Blanchy,NaN,NaN,32,True
3,1,FRA,"Doubles, Mixed",Tennis,NaN,1920,Summer,Jean-François Blanchy,Jeanne Vaussard,NaN,8,True
4,1,FRA,"Doubles, Men",Tennis,NaN,1920,Summer,Jean-François Blanchy,Jacques Brugnon,NaN,4,False

In [72]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 308408 entries, 0 to 308407
Data columns (total 12 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   athlete_id   308408 non-null  int64
 1   NOC          308407 non-null  object
 2   Event        308408 non-null  object
 3   Discipline   308407 non-null  object
 4   Nationality  81 non-null      object
 5   Year         305807 non-null  object
 6   Season       305807 non-null  object
 7   As           308408 non-null  object
 8   Team         121714 non-null  object
 9   Medal        44139 non-null   object
 10  position     283193 non-null  object
 11  tied         306583 non-null  object
dtypes: int64(1), object(11)
memory usage: 28.2+ MB

In [73]:
df['Year'] = pd.to_numeric(df['Year'])
df['position'] = pd.to_numeric(df['position'])
df['tied'] = df['tied'].astype(bool)

In [74]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 308408 entries, 0 to 308407
Data columns (total 12 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   athlete_id   308408 non-null  int64
 1   NOC          308407 non-null  object
 2   Event        308408 non-null  object
 3   Discipline   308407 non-null  object
 4   Nationality  81 non-null      object
 5   Year         305807 non-null  float64
 6   Season       305807 non-null  object
 7   As           308408 non-null  object
 8   Team         121714 non-null  object
 9   Medal        44139 non-null   object
 10  position     283193 non-null  float64
 11  tied         308408 non-null  bool
dtypes: bool(1), float64(2), int64(1), object(8)
memory usage: 26.2+ MB

In [75]:
df.head()

,athlete_id,NOC,Event,Discipline,Nationality,Year,Season,As,Team,Medal,position,tied
0,1,FRA,"Singles, Men",Tennis,NaN,1912.0,Summer,Jean-François Blanchy,NaN,NaN,17.0,True
1,1,FRA,"Doubles, Men",Tennis,NaN,1912.0,Summer,Jean-François Blanchy,Jean Montariol,NaN,NaN,False
2,1,FRA,"Singles, Men",Tennis,NaN,1920.0,Summer,Jean-François Blanchy,NaN,NaN,32.0,True
3,1,FRA,"Doubles, Mixed",Tennis,NaN,1920.0,Summer,Jean-François Blanchy,Jeanne Vaussard,NaN,8.0,True
4,1,FRA,"Doubles, Men",Tennis,NaN,1920.0,Summer,Jean-François Blanchy,Jacques Brugnon,NaN,4.0,False

In [76]:
df.to_csv('./results/results_cleaned.csv', index=False)